# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
*.egg-info

# macOS specific
.DS_Store

# Docker specific
docker-compose.override.yml

# Environment variables
.env

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Other
*.swp
*.swo
*.swn
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project
.idea/